.container2{
    background-color: #eee;
    display: flex;
    height: 120vh;
    box-shadow:8px 9px 43px -21px rgba(0,0,0,0.7);
    justify-content: center;
}

.folha{
   justify-content: center;
   width: 80%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.container2 .folha .titulo{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    
}

.container2 .folha .titulo h1{
    display: flex;
    justify-content: center;
}
.container2 .folha .texto{
    display: flex;
  
    height: 80%;
    font-size: 20px;
    
}