
*{
    padding: 0%;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: sans-serif;
    
}
/* resetar css

------------------------ 

Inicio do Header*/
header {
    padding: 10px 0;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    
    
}

header .containerHeader {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}
header .containerHeader .logo{
display: flex;
width: 20%;
}
header .containerHeader h1 {
    color: black;
    font-weight: 400;
    justify-content: flex-start;
    margin-left: 10px;
    width: 100%;
    
}

header .containerHeader .navbar{
    display: flex;
    width: 100%;
    
    
}
header .containerHeader .navbar .menu{
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: center;
    align-items: center;
}

header .containerHeader .navbar .menu li{
    display: inline-block;
    margin: 10px;
    list-style: none ;
    
}
header .containerHeader .navbar .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 20%;
}

header .containerHeader .navbar .button .login, .cadastro{
    width: 5vw;
    height: 4vh;
    border-radius: 10px;
    border: 2px solid #5acbda;
}


header .containerHeader .navbar .button .login{
    background-color:#fff;
    transition: 0.5s;
    margin-right: 15px;
}

.login:hover{
    background-color:rgb(238, 238, 238);
    transition: 0.5s;
    cursor:pointer;
}

.cadastro{
    color: black;
    background-color: white;
    cursor:pointer;
    transition: 0.5s;
}
.cadastro:hover{
    background-color: #42baca;
    transition: 0.5s;
}
/* 
--------------------
Banner */
.banner {
    background-image: url("../assets/Img/Academia.jpg");
    background-size: 100%;
    background-color: #eee;
    height: 90vh;
    
}

.banner .container {
    backdrop-filter: blur(10px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner span {
    width: 280px;
    color: #12a3f6;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

/* 
--------------------
Blog */
.areaBlog{
    padding: 50px;
    background-color: #eee;
}

.areaBlog .blog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.artigos {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.areaBlog .artigos ul{
    margin-left: 30px;
    list-style: none;
}


/* 
--------------------
Rede social */

.social {
    margin: 50px 0;
}

.valores{
    display: flex;
    justify-content: center;
}
.social .caixas, .caixa {
    display: flex;
}

.caixa {
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.caixa h4 {
    margin: 15px 0;
    color: #e6005a;
}

.caixa p {
    text-align: center;
    color: #000000; 
    /* color: black; */
}

.caixa img {
    width: 170px;
}
/* 
--------------------
Rodapé */


.footer {
    padding: 45px 0;
    background-color: #b7bcbc;
}

.footer .container {
    display: flex;
    justify-content: center;
}

.footer p {
    color: black;
}