
*{
    padding: 0%;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth ;   
}
/* resetar css

------------------------ 

Inicio do Header*/
header {
    padding: 10px 0;
    border-bottom: 1px solid black;
    background-color: white;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 5%, rgba(201,250,250,1) 50%, rgba(231,238,239,1) 95%);
    display: flex;
}
a{
    text-decoration: none;
    color: #444848;
}

header .containerHeader {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}
header .containerHeader .logo{
display: flex;

}
header .containerHeader h1 {
    color: black;
    font-weight: 400;
    font-size: 30px;
    margin-left: 10px;
    
    
}

header .containerHeader .navbar{
    display: flex;
    width: 90%;
    justify-content: center;
    
}
header .containerHeader .navbar .menu{
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

header .containerHeader .navbar .menu li{
    display: inline-block;
    margin: 10px;
    list-style: none ;
    
}
.liStyle{
    border-radius: 3px;
    border-bottom: 2px solid black;
}
header .containerHeader .navbar .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 20%;
}

header .containerHeader .navbar .button .login, .cadastro{
    width: 5vw;
    height: 4vh;
    border-radius: 10px;
    border-bottom: 2px solid #5acbda;
}


header .containerHeader .navbar .button .login{
    background-color:#fff;
    transition: 0.5s;
    margin-right: 15px;
}

.login:hover{
    background-color:rgb(238, 238, 238);
    transition: 0.5s;
    cursor:pointer;
}

.cadastro{
    color: black;
    background-color: white;
    cursor:pointer;
    transition: 0.5s;
}
.cadastro:hover{
    background-color: #42baca;
    transition: 0.5s;
}
/* 
--------------------
Banner */
.banner {
    background-image: url("../assets/Img/Academia.jpg");
    background-size: 100%;
    background-color: #eee;
    height: 90vh;
    
}

.banner .container {
    backdrop-filter: blur(6px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner span {
    width: 280px;
    color: #12a3f6;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

/* 
--------------------
Blog */

.areaBlog{
    padding: 50px;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 5%, rgba(201,250,250,1) 50%, rgba(231,238,239,1) 95%);
}

.areaBlog .blog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.artigos li:hover{
    border: 1px solid #5acbda;
}
.artigos {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.areaBlog .artigos ul{
    margin-left: 30px;
    list-style: none;
}


/* 
Blog 
--------------------
Rodapé */


.footer {
    padding: 45px 0;
    background: rgb(238,238,238);
background: linear-gradient(90deg, rgba(238,238,238,1) 5%, rgba(201,250,250,1) 50%, rgba(231,238,239,1) 95%);
}

.footer .container {
    display: flex;
    justify-content: center;
}

.footer p {
    color: black;
}